<div class = "header">
  <h1>YusukePortfolio</h1>
</div>
<div class = "navigation">
  <ul>
    <li>プロフィール</li>
    <li>製作物</li>
    <li>スキル</li>
  </ul>
</div>

<div class = "reason">
  <p>
    たった一つの動画が約2万再生を記録した
  <br>そこから僕はエンジニアを目指す結果となった
  </p>
  <video src="/video/LuRjPEcQ8sJjImDw.mp4" loop autoplay muted></video>
</div>

<div class = "profile">
  <img src ="image/1583241690590.jpeg" class = "profile__image">
  <p></p>
</div>

<div class = "production">
</div>

<div class = "skill">
</div>

<div class = "footer">
  <h2>YusukePortfolio</h2>
</div>