body{
  background-color: black;
}

.header{
  height: 100px;
  width: 100%;
  text-align: center;
  line-height: 110px;
  &__title{
    color: white;
    letter-spacing: 5px;
    font-size: 40px;
  }
}

.navigation{
  height: 70px;
  width: 100%;
  line-height: 65px;
  background-color: white;
  color: blue;
  font-size: 20px;
  font-weight: bold;
  ul{
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: space-around;
    letter-spacing: 10px;
  }
}

.reason{
  width: 100%;
  height: 600px;
  background-color: black;
  text-align: center;
  margin-top: 30px;
  display: flex;
  justify-content: center;
  p{
    color: white;
    position: absolute;
    z-index: 2;
    line-height: 90px;
    font-size: 20px;
    font-weight: bold;
    opacity: 0.8;
  }
  video{
    width: 70%;
    height: 500px;
    object-fit: fill;
    opacity: 0.5;
    position: relative;
  }
}

.profile{
  width: 100%;
  height: 500px;
  color: white;
  background-color: #202020;
  margin-top: 20px;
  // display: flex;
  &__bar{
    height: 70px;
    width: 100%;
    background-color: #f5f5f5;
    h1{
      color: blue;
      margin-top: 0;
      padding-left: 20px;
      text-align: center;
      line-height: 70px;
      font-size: 25px;
      letter-spacing: 15px;
    }
  }
  &__image{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    margin: 70px 200px;
  }
  h2{
    margin-left: 260px;
    margin-top: -40px;
  }
  h3{
    margin-left: 200px;
    margin-top: -5px;
  }
  p{
    padding-left: 35%;
    margin-top: -270px;
    font-size: 20px;
    line-height: 50px;
    font-weight: bold;
  }
}

.production{  
  width: 100%;
  height: 1500px;
  background-color: #202020;
  &__bar{
    height: 70px;
    width: 100%;
    background-color: white;
    text-align: center;
    line-height: 70px;
    h1{
      margin-top: 0;
      font-size: 25px;
      letter-spacing: 15px;
      color: blue;
    }
  }
  &__list{
    text-align: center;
    ul{
      display: flex;
      justify-content: space-around;
      margin-left: -40px;
      list-style: none;
      li{
        padding: 50px 20px 100px;
        margin-top: 40px;
        background-color: blue;
      }
    }
    h2{
      margin-top: -35px;
      color: white;
      letter-spacing: 5px;
    }
    img{
      height: 300px;
      width: 350px;
      position: relative;
    }
    video{
      height: 300px;
      width: 350px;
      object-fit: fill;
    }
    p{
      color: white;
      line-height: 30px;
      padding-top: 20px;
    }
    &-link{
      @include link;
      margin-top: 40px;
      left: 110px;
    }
    &-link1{
      @include link;
      margin-top: 40px;
      left: 250px;
    }
    &-link2{
      @include link;
      margin-top: 40px;
      left: 43%;
    }
    &-link3{
      @include link;
      margin-top: 40px;
      left: 53%;
    }
    &-link4{
      @include link;
      right: 18%;
    }
    &-link5{
      @include link;
      right: 8%;
    }
    &-link6{
      @include link;
      left: 190px;
    }
  }
}

.skill{
  width: 100%;
  height: 800px;
  background-color: #202020;
  &__bar{
    height: 70px;
    width: 100%;
    background-color: white;
    text-align: center;
    line-height: 70px;
    h1{
      margin-top: 0;
      font-size: 25px;
      letter-spacing: 15px;
      color: blue;
    }
  }
  &__graph{
    height: 300px;
    width: 80%;
    margin: 0 auto;
    margin-top: 60px;
  }
}

.footer{
  width: 100%;
  height: 70px;
  color: white;
  text-align: center;
  letter-spacing: 5px;
  padding-top: 25px;
  &__title{
    color: white;
    letter-spacing: 5px;
    font-size: 20px;
  }
}